body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/meioAmbiente.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;

}